.img-create{
    width: 200px;
    height: 200px;
    border-radius: 50%;
      border-style: solid;
    border-color: #969765;
    border-width: 10px;
}
.custom-input{
    background-color: #DCFED5;
    border-radius: 20px;
}

.labal{
    font-size: 20px;
    font-weight: 100;
}

.textarea{
    height: 150px;
}