<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom" class="new-background-color-header" style="height: 10vh;">
      <ion-tab-button tab="timeline">
        <img src="/assets/img/timeline.png" style="height: 40px;width: 40px;"/>
        <ion-label>ไทม์ไลน์</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="family">
          <img src="/assets/img/family.png" style="height: 40px;width: 40px;"/>
        <ion-label>ครอบครัว</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="evolution">
          <img src="/assets/img/evolution.png" style="height: 40px;width: 40px;"/>
        <ion-label>พัฒนาการ</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="expert">
          <img src="/assets/img/expert.png" style="height: 40px;width: 40px;"/>
        <ion-label>ผู่เชี่ยวชาญ</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<style>
/* *{
  height: 20px;width: 20px;
} */
</style>