<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="height: auto;">
        <div style="width: 100;" align="center">
          <div class="box-family ">
            <img (click)="showEvolution(family.child_1,1)" onerror="this.src='/assets/img/family-img-create.png'"
              src="{{family.child_1.img}}" style="width: 100%;height: 100%;">
            <div class="span-family">
           
              <span>{{family.child_1.nick_name}}</span>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col style="height: auto;">
        <div style="width: 100;" align="center">
          <div class="box-family ">
            <img (click)="showEvolution(family.child_2,2)" onerror="this.src='/assets/img/family-img-create.png'"
              src="{{family.child_2.img}}" style="width: 100%;height: 100%;">
            <div class="span-family" >
              <span>{{family.child_2.nick_name}}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>