
.img-create{
    width: 200px;
    height: 200px;
    border-radius: 50%;
      border-style: solid;
    border-color: #969765;
    border-width: 10px;
}
.my-width{
    width: 160px;
}
.btn-group{
    width: 100%;
    position:fixed;
    bottom: 0;
}